<div class="sidenav-header">
  <img
    src="https://avatars.githubusercontent.com/u/89421020?v=4"
    [width]="profilePicSize()"
    [height]="profilePicSize()"
    alt="Profile Pic"
  />
  <div class="header-text" [class.hide-header-text]="collapsed()">
    <h6>Your channel</h6>
    <p>Patrick Murimi</p>
  </div>
</div>
<mat-nav-list>
  @for (item of menuItems(); track $index) {
  <a
    class="menu-item"
    mat-list-item
    routerLink="/{{ item.route }}"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      matListItemIcon
      >{{ item.icon }}</mat-icon
    >
    @if (!collapsed()) {
    <span matListItemTitle>
      {{ item.label }}
    </span>
    }
  </a>
  }
</mat-nav-list>
