/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

:root {
  // font-size: 62.5%; // 1rem = 10px
  --primary-color: #cc0000;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  // font-size: 1rem;
}
